/* styles.css */

/* Google Font  */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Google Font  */

.canvas-container {
    position: relative;
    width: 500px;
    height: 500px;
    z-index: -1;
}

#topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #141414;
    z-index: 1500;
}

/* RightBar */

/* Bottone Menu */

.pushable {
    background: #A75B3C;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 3px 22px;
    border-radius: 12px;
    font-size: 1rem;
    background: #dd8e69;
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

/* Bottone Menu */

/* Bottone Reset */

.pushable2 {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front2 {
    display: block;
    padding: 3px 22px;
    border-radius: 12px;
    font-size: 1rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.pushable2:active .front2 {
    transform: translateY(-2px);
}

/* Bottone Reset */

/* Bottone Home */

.pushable3 {
    background: #aa321a;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front3 {
    display: block;
    padding: 3px 22px;
    border-radius: 12px;
    font-size: 1rem;
    background: #F85F1A;
    color: white;
    transform: translateY(-6px);
}

.pushable3:active .front3 {
    transform: translateY(-2px);
}

/* Bottone Home */

img[id^="imgMarkers"] {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

img[id^="imgMarkers"]:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

/* Achievements */

.imgAchievements {
    width: 3rem;
    height: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    cursor: pointer;
}

.imgAchievements:hover+span {
    bottom: -36px;
    opacity: 1;
}

.trophie1 {
    position: absolute;
    width: 15rem;
    height: 8rem;
    top: -8rem;
    right: 1%;
    background-image: url('https://opengameart.org/sites/default/files/bg_space_seamless_1.png');
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #424A4C;
    z-index: 100000;
    animation: trophyAnimation 7s ease forwards;
}

@keyframes trophyAnimation {
    0% {
        top: -8rem;
    }

    25% {
        top: 5.5rem;
    }

    75% {
        top: 5.5rem;
    }

    100% {
        top: -8rem;
    }
}

.boxT1 {
    position: absolute;
    width: 13rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../src/img/backgroundTrophie1.jpg');
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.boxT2 {
    position: absolute;
    width: 13rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../src/img/backgroundTrophie2.jpeg');
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.boxT3 {
    position: absolute;
    width: 13rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../src/img/backgroundTrophie3.jpeg');
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.boxT4 {
    position: absolute;
    width: 13rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../src/img/backgroundTrophie4.jpeg');
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.imgTrophie {
    position: absolute;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 20%;
}

.titleT {
    position: absolute;
    top: 2rem;
    left: 5rem;
    color: white;
}

.descriptionT {
    position: absolute;
    top: 3.2rem;
    left: 5rem;
    color: #cecfcf;
    font-family: 'Space Grotesk, sans-serif',
}

/* Achievements */

/* RightBar */

/* Mars3d */

canvas {
    height: 100vh !important;
}

/* Mars3d */

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.bit {
    transform: translateX(-50%);
    /* animation-name: zoomIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */
    font-family: 'Press Start 2P', cursive;
    color: rgb(253, 178, 15);
    text-shadow: 5px 2px 4px rgb(117, 111, 111) !important;
    position: absolute;
    top: -35.5rem;
    left: 50%;
}

#cursor {
    cursor: pointer;
}

/* Div lat & lng */

.latLngContainer {
    position: absolute;
    top: 7rem;
    right: 2rem;
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.8);
    width: 10.5rem;
    height: 3.5rem;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div lat & lng */

/* Div Tutorial */

.tutorial {
    position: absolute;
    z-index: 100000;
    width: 20rem;
    top: 7rem;
    right: 50%;
    animation: slideInTutorial 2s forwards;
}

.curiosity {
    position: absolute;
    z-index: 100000;
    width: 20rem;
    top: 7rem;
    transform: translate(-5%);
    opacity: 0;
    animation: fadeInDialog 1s forwards;
}

.dialog {
    position: absolute;
    z-index: 100000;
    width: 400px;
    height: 200px;
    background-color: #fff;
    border: 5px solid #000000;
    border-radius: 30px;
    margin: 8rem;
    transform: translate(40%, 10%);
    opacity: 0;
    animation: fadeInDialog 1s forwards;
    animation-delay: 2s;
}

.dialogCuriosity {
    position: absolute;
    z-index: 100000;
    width: 400px;
    height: 200px;
    background-color: #fff;
    border: 5px solid #000000;
    border-radius: 30px;
    margin: 8rem;
    transform: translate(40%, 10%);
    opacity: 0;
    animation: fadeInDialog 1s forwards;
}

.dialog::before,
.dialog::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.dialog::before {
    left: -30px;
    top: 18px;
    border-top: 30px solid transparent;
    border-right: 30px solid #000000;
    border-bottom: 30px solid transparent;
}

.dialog::after {
    left: -22px;
    top: 25px;
    border-top: 22px solid transparent;
    border-right: 22px solid #fff;
    border-bottom: 22px solid transparent;
}

@keyframes slideInTutorial {
    from {
        left: -15rem;
    }

    to {
        left: -1rem;
    }
}

@keyframes fadeInDialog {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dialog-text {
    padding: 10px 20px;
    font-size: 17.6px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
}

.control-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#backB {
    position: absolute;
    right: 6rem;
}

#endB {
    margin-left: auto;
}

#imgTutorial {
    width: 4rem;
    height: 4rem;
    margin-top: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 6px solid white;
}

#buttonCuriosity {
    position: absolute;
    z-index: 10000;
    top: 7rem;
    transform: translate(80%);
    border-radius: 50%;
}

/* Div Tutorial */

/* Personalizzazione Marker tasks */

.custom-marker {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid white;
}

/* Personalizzazione Marker tasks */

/* Loading Page */

.descriptionL {
    transform: translateX(-50%);
    font-family: 'Press Start 2P', cursive;
    color: rgb(253, 178, 15);
    text-shadow: 5px 2px 4px rgb(117, 111, 111) !important;
    position: absolute;
    top: 85%;
    left: 50%;
    font-size: 30px;
    width: 100rem;
}

.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

/* Loading Page */

/* Collection Page */

.title2,
.desc {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.next,
.prev {
    font-family: 'Press Start 2P', cursive !important;
    font-size: 18px !important;
    color: #000000 !important;
}

#gallery {
    position: absolute;
    z-index: 10;
    width: 130rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#gallery a {
    text-decoration: none;
}

#gallery .item a {
    overflow: hidden;
}

#gallery .item a img {
    width: 100%;
    height: 100%;
    align-self: center;
}

#gallery .item.glowing {
    animation: glow 2s linear infinite;
}

@keyframes glow {
    0% {
        border-color: #D2B353;
        box-shadow: 0 0 10px #D2B353;
    }

    50% {
        border-color: #FFD700;
        box-shadow: 0 0 20px #FFD700;
    }

    100% {
        border-color: #D2B353;
        box-shadow: 0 0 10px #D2B353;
    }
}

.lightbox {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    color: #333333;
    transition: width .5s ease-in-out, height .5s ease-in-out;
    background: rgba(0, 0, 0, .2);
}

.lightbox:target {
    width: 100%;
    height: 100%;
    transition: width .5s ease-in-out, height .5s ease-in-out;
}

.lightbox .title2 {
    margin: 0;
    padding: 0 0 10px 0px;
    border-bottom: 1px #ccc solid;
    font-size: 22px;
}

.lightbox .content {
    display: block;
    position: relative;
}

.lightbox .content img {
    width: 60rem;
    height: 60rem;
}


.lightbox .content .desc {
    z-index: 99;
    bottom: 0;
    position: absolute;
    padding: 10px;
    margin: 0 0 4px 0;
    background: rgba(0, 0, 0, 0.8);

    color: #fff;
    font-size: 17px;
    opacity: 0;
    text-align: left;
    transition: opacity ease-in-out 0.5s;
}

.lightbox .content:hover .desc {
    opacity: 1;
}

.lightbox .next,
.lightbox .prev,
.lightbox .close {
    display: block;
    text-decoration: none;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #858585;
}

.prev {
    float: left;
}

.next,
.close {
    float: right;
}

.clear {
    display: block;
    clear: both;
}

.close_out {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.customBadge {
    position: absolute;
    top: 30;
    right: 40;
    font-family: 'Press Start 2P', cursive;
    background-color: FFD700;
}

#totalMarkers {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin: 2rem;
}

/* Collection Page */

/* Login Page */

.wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    --input-focus: #E85F4C;
    --font-color: #000000;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

/* switch card */
.switch {
    /*   transform: translateY(-200px); */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
}

.card-side::before {
    position: absolute;
    content: 'Log in';
    left: -70px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: white;
    font-weight: 600;
}

.card-side::after {
    position: absolute;
    content: 'Sign up';
    left: 70px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
}

.toggle:checked+.slider {
    background-color: var(--input-focus);
}

.toggle:checked+.slider:before {
    transform: translateX(30px);
}

.toggle:checked~.card-side:before {
    text-decoration: none;
}

.toggle:checked~.card-side:after {
    text-decoration: underline;
}

/* card */

.flip-card__inner {
    width: 300px;
    height: 350px;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.toggle:checked~.flip-card__inner {
    transform: rotateY(180deg);
}

.toggle:checked~.flip-card__front {
    box-shadow: none;
}

.flip-card__front,
.flip-card__back {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: url('../src/img/formBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
    width: 100%;
    transform: rotateY(180deg);
}

.flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.title {
    font-family: 'Press Start 2P', cursive;
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: white;
    animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.flip-card__input {
    font-family: 'Press Start 2P', cursive;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 11px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.flip-card__input:focus {
    border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.flip-card__btn {
    font-family: 'Press Start 2P', cursive;
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

.errors {
    height: 1.2rem !important;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.pushableP {
    background: #083ff5;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.frontP {
    display: block;
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 15px;
    background: #0918eb;
    color: white;
    transform: translateY(-6px);
}

/* Login Page */

/* Profile Page */

.borderB {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding: 12.8rem 22.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://i.pinimg.com/736x/1e/64/c3/1e64c3289a248160c26a3b57b221e282.jpg');
    object-fit: fill;
}

.pixelB {
    box-shadow:
        10px 0 white,
        -10px 0 white,
        0 -10px white,
        0 10px white;

    background-repeat: no-repeat;
    object-fit: cover;
}

#profileTxt {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    margin-left: 15%;
    text-align: justify;
    align-self: center;
}

#menuProfileTxt {
    font-family: 'Press Start 2P', cursive;
    color: white !important;
    font-size: 12px;
    margin-top: 0.5rem;
}

/* Profile Page */

/* Html HomePage */

.bubble {
    position: absolute;
    display: inline-block;
    margin: 5px;
    text-align: center;
    font-family: "VT323", monospace;
    font-size: 28px;
    line-height: 1.3em;
    background-color: rgba(0, 0, 0, 0.6);
    color: #1DFE26;
    padding: 0.2rem 1rem !important;
    box-shadow: 0 -1px #0c0c0c, 0 -2px #000000, 1px 0 #0a0a0a, -1px 0 #000000, 2px 0 #0a0a0a, 0 1px #111111, 0 2px #080808, -1px 0 #111111, -1px 1px #070707, -2px 0 #000000, -1px -1px #0a0a0a, 1px 1px #070707;
    box-sizing: border-box;
    width: fit-content !important;
}

.bubble::after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
}

.bubble.shadow {
    box-shadow: 0 -1px #000000, 0 -2px #000000, 1px 0 #ffffff, -1px 0 #000000, 2px 0 #000000, 0 1px #ffffff, 0 2px #000000, -1px 0 #ffffff, -1px 1px #000000, -2px 0 #000000, -1px -1px #000000, 1px 1px #000000, 1px 3px #000000, 3px 1px #000000, 2px 2px #000000;
}

.bubble.mini {
    width: 110px;
    font-size: 16px;
    padding: 4px;
    font-family: monospace;
}

.bubble.medium {
    width: 350px;
}

.bubble.large {
    width: 560px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
}

.bubble.grow {
    width: initial;
}

.bubble.top::after {
    height: 1px;
    width: 1px;
    top: -2px;
    left: 8px;
    box-shadow: 0 -1px #000000, 0 -2px #000000, 0 -3px #000000, 0 -4px #000000, -1px -3px #000000, -2px -2px #000000, -3px -1px #000000, -1px -1px #ffffff, -2px -1px #ffffff, -1px -2px #ffffff, -1px 0 #ffffff, -2px 0 #ffffff, -3px 0 #ffffff;
}

.bubble.right::after {
    height: 1px;
    width: 1px;
    top: 21px;
    right: -2px;
    background: #000000;
    box-shadow: 1px -1px #030303, 1px 0 #000000, 2px 0 #000000, 0 -2px #000000, 1px 1px #000000, 2px 1px #000000, 3px 1px #000000, 4px 1px #000000, 3px 0 #000000, 2px -1px #000000, 1px -2px #000000, 0 -1px #000000;
}

.bubble.bottom::after {
    height: 1px;
    width: 1px;
    bottom: -2px;
    left: 8px;
    box-shadow: 0 1px #000000, 0 2px #000000, 0 3px #000000, 0 4px #000000, -1px 3px #000000, -2px 2px #000000, -3px 1px #000000, -1px 1px #000000, -2px 1px #000000, -1px 2px #000000, -1px 0 #000000, -2px 0 #000000, -3px 0 #000000;
}

/* Html HomePage */

/* Media Query laptop */

@media screen and (min-width: 1024px) and (max-width: 1600px) {

    .bit {
        font-family: 'Press Start 2P', cursive;
        color: rgb(253, 178, 15);
        text-shadow: 5px 2px 4px rgb(117, 111, 111) !important;
        position: absolute;
        top: -21.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Loading Page */

    .descriptionL {
        text-align: center;
        transform: translateX(-50%);
        font-family: 'Press Start 2P', cursive;
        color: rgb(253, 178, 15);
        text-shadow: 5px 2px 4px rgb(117, 111, 111) !important;
        position: absolute;
        top: 80%;
        left: 50%;
        font-size: 30px;
        width: 80rem;
    }

    /* Loading Page */

/* Div Tutorial */

.tutorial {
    position: absolute;
    z-index: 100000;
    width: 19rem;
    top: 7rem;
    right: 50%;
    animation: slideInTutorial 2s forwards;
}

.curiosity {
    position: absolute;
    z-index: 100000;
    width: 19rem;
    top: 7rem;
    transform: translate(-5%);
    opacity: 0;
    animation: fadeInDialog 1s forwards;
}

.dialog {
    position: absolute;
    z-index: 100000;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 5px solid #000000;
    border-radius: 30px;
    margin: 8rem;
    transform: translate(40%, 10%);
    opacity: 0;
    animation: fadeInDialog 1s forwards;
    animation-delay: 2s;
}

.dialogCuriosity {
    position: absolute;
    z-index: 100000;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 5px solid #000000;
    border-radius: 30px;
    margin: 8rem;
    transform: translate(40%, 10%);
    opacity: 0;
    animation: fadeInDialog 1s forwards;
}

.dialog-text {
    padding: 10px 20px;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
}

.control-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#backB {
    position: absolute;
    right: 6rem;
    font-size: 10px;
}

#endB {
    margin-left: auto;
    font-size: 10px;
}

#nextB {
    font-size: 10px;
}

#skipB {
    font-size: 10px;
}

#imgTutorial {
    width: 4rem;
    height: 4rem;
    margin-top: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 6px solid white;
}

#buttonCuriosity {
    position: absolute;
    z-index: 10000;
    top: 7rem;
    transform: translate(80%);
    border-radius: 50%;
    font-size: 10px;
}

/* Div Tutorial */

/* Collection Page */

#gallery {
    position: absolute;
    z-index: 10;
    width: 90rem;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
}

.lightbox .title2 {
    margin: 0;
    padding: 0 0 10px 0px;
    border-bottom: 1px #ccc solid;
    font-size: 18px;
}

.lightbox .content img {
    width: 30rem;
    height: 30rem;
}


.lightbox .content .desc {
    z-index: 99;
    bottom: 0;
    position: absolute;
    padding: 10px;
    margin: 0 0 4px 0;
    background: rgba(0, 0, 0, 0.8);

    color: #fff;
    font-size: 14px;
    opacity: 0;
    text-align: left;
    transition: opacity ease-in-out 0.5s;
}

.lightbox .next,
.lightbox .prev,
.lightbox .close {
    display: block;
    text-decoration: none;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #858585;
}

#nextBC {
    font-size: 10px;
}

#skipBC {
    font-size: 10px;
}


/* Collection Page */

}

/* Media Query laptop */